<input type="text" placeholder="search..." (input)="onSearch($event)">
<div class="row">
  <div class="col-md-6 text-center">
    <div class="left-panel">
      <ng-container *ngFor="let meeting of allMeetings;let i = index">
        <div class="card" style="width: 18rem;" (click)="locateOnMap(meeting,i)">
          <img class="card-img-top" [src]="meeting.mainPhotoUrl" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{meeting.name}}</h5>
            <p class="card-text">Country:{{meeting.countryFullName}}</p>
          </div>
        </div>
        <br />
      </ng-container>
    </div>

  </div>
  <div class="col-md-6 text-center">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
      (mapClick)="mapClicked($event)">

      <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(i,m.id)" [latitude]="m.lat"
        [iconUrl]="m.url" [longitude]="m.lng">
        <agm-info-window [isOpen]="isInfoWindowOpen(m.id)" [latitude]="m.lat" [longitude]="m.lng">
          <strong>{{m.name}}</strong>
        </agm-info-window>

      </agm-marker>
      <agm-circle [latitude]="lat" [longitude]="lng" [editable]="true" [circleDraggable]="true" [radius]="5000"
        (radiusChange)="radiusChanged($event)"></agm-circle>
    </agm-map>
  </div>
</div>